#wordCloud {
    position: absolute;
    top: 155%;
    left: 35%;
    background-color: rgba(255, 248, 220, 0.7);
    border-radius: 50%;
}


#aboutText,
#linkText {
    max-width: 40ch;
    line-height: 1.2em;
    font-size: 130%;
    background-color: rgba(255, 248, 220, 0.7);
    border-radius: 2%;
    border-style: outset;
    border-color: black;
    text-align: left;
    padding: 1%;
}

#aboutHeading {
    background-color: rgba(255, 248, 220, 0.7);
    border-radius: 2%;
    border-style: outset;
    border-color: black;
    padding: 1%;
    width: fit-content;
}

#glint {
    position: absolute;
    top: 9%;
    left: 27.8%;
}

#glitter {
    position: absolute;
    top: 13.7%;
    left: 35%;
}

#star {
    position: absolute;
    top: 81%;
    left: 60%;
}

#logo {
    position: absolute;
    top: 6.3%;
    left: 10%;
}

#inspiration:hover {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-clip: text;
    color: transparent;
}

#pic1,
#pic2,
#pic3,
#pic4 {
    border-style: outset;
    border-color: black;
    border-radius: 0.2%;
}

#pic1:hover,
#pic2:hover,
#pic3:hover,
#pic4:hover {
    cursor: pointer;
    filter: grayscale(100%);
    border-color: #FFF8DC;
}

#showBtn {
    background-color: black;
    color: #FFF8DC;
    height: 30px;
    border-radius: 5px;
}

#inputField {
    margin: 1%;
    border-style: groove;
    border-radius: 0, 2%;
}