
#wordCloud {
    position:absolute;
    top: 145%;
    left: 35%;
    background-color:rgba(255, 248, 220, 0.9);
    border-radius: 50%;
}

#inspiration:hover {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-clip: text;
    color: transparent;
}

#pic1, #pic2, #pic3, #pic4 {
    border-style: outset;
    border-color: black;
    border-radius: 0.2%;
}

#pic1:hover, #pic2:hover, #pic3:hover, #pic4:hover {
    cursor: pointer;
    filter: grayscale(100%);
    border-color:#FFF8DC;
}

#showBtn {
    background-color: black;
    color:#FFF8DC;
    height: 50%;
}

#inputField {
    margin: 1%;
    border-style:groove;
    border-radius: 0,2%;
}