#flexCon {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin: 1%;
}

#flexCon2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#flexCon3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("background.jpg");
    background-size: cover;
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
}


#photoSpace {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

#headMenu {
    list-style-type: none;
    font-size: 100%;
    word-spacing: 0.1em;
    width:500px;

    li {
        display: inline-block;
        padding: 1%;
        margin: 1%;
        width: 200px;

        a:link, a:visited {
            color: #F5FFFA;
            text-decoration: none;
            margin: 1%;
           
        }
    }
}

#navMenu, .menuBtn {
    display: none;
}

#flexCon1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    #flexCon1 {
        justify-content:flex-start;
    }
    #photoSpace {
        width: 100%;
        height: auto;
    }
    #wordCloud {
        position:relative;
        top: auto;
        left: auto;
        width: fit-content;
        height: auto;
    }
    #cloudCon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #glitter, #glint {
        display: none;
    }
    #logo {
        position:relative;
    }
    #headMenu {
        display: none;
        width: auto;
    }
    .menuBtn {
        display: flex;
        align-items: center;
        padding: 8px 15px;
        background-color: #4B0082;
        border:#F5FFFA ridge;
        color:#F5FFFA;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .open {
        position: absolute;
        top: 3%;
        right: 5%;
    }

    .close {
        position: absolute;
        top: 18%;
        right: 34%;
    }

    .bars {
        display: block;
        width: 20px;
        height: 3px;
        background-color:#F5FFFA;
        margin: 5px 3px;
    }

    .cross1 {
        width: 20px;
        transform: rotate(45deg);
        position: relative;
        top: 5px;
    }

    .cross2 {
        width: 20px;
        transform: rotate(135deg);
        position: relative;
        top: -3px;
    }

    
        #navMenu {
        background-color:#4B0082;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 150px;
        display: none;

        ul {
            list-style-type: none;
            width: 100%;
            margin: 0 auto;
            padding: 0;
            font-size: 1em;
            text-align: left;

            li {
                padding: 0.8em;
                width: 100%;
            }

            a:link, a:visited {
                color: #F5FFFA;
                text-decoration: none;
            }
}}}

@media screen and (max-width: 720px) {
    
    h1 {
        margin: 3%;
        font-size: 170%;
    }
    #photoSpace {
        width: 80%;
        height: auto;
    }
}